<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About Page</title>
    </head>
    <body>
        <a href="/">Inicio</a>
        <a href="acerca">Acerca De</a>
        <a href="blog">Blog</a>

        <h1>Sobre Mi</h1>
        <h2>David Gallegos</h2>

        <p>
            Esta es mi primera página en Astro. Soy un estudiante de DAW <br>
            Y estoy aprendiendo sobre este FrameWork
        </p>

        
    </body>
</html>